## 시장 리포트

In [19]:
import requests as rq
from bs4 import BeautifulSoup

url = 'http://consensus.hankyung.com/apps.analysis/analysis.list?skinType=market'
headers = {'User-Agent': 'Chrome/78.0.3904.87 Safari/537.36'}      

data = rq.get(url, headers = headers)
data_html = BeautifulSoup(data.content, from_encoding = 'EUC-KR')

In [79]:
data_date = data_html.select('.first.txt_number')
data_date = [i.text for i in data_date]

In [80]:
data_date

['2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15',
 '2021-02-15']

In [7]:
from urllib import parse

name = '삼성전자'
parse.quote(name, encoding = 'euc-kr')

'%BB%EF%BC%BA%C0%FC%C0%DA'

In [39]:
url = 'http://consensus.hankyung.com/apps.analysis/analysis.list?&sdate=2018-02-10&edate=2021-02-10&search_value=&search_text=%BB%EF%BC%BA%C0%FC%C0%DA&order_type=&now_page=1'

In [16]:
import requests as rq
from bs4 import BeautifulSoup

In [80]:
headers = {'User-Agent': 'Chrome/78.0.3904.87 Safari/537.36'}           

data = rq.get(url, headers=headers)

In [81]:
html = BeautifulSoup(data.content, from_encoding = 'EUC-KR')

In [114]:
html_num = html.select('.first.txt_number')

In [115]:
html_num

[<td class="first txt_number">2021-02-01</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-29</td>,
 <td class="first txt_number">2021-01-28</td>,
 <td class="first txt_number">2021-01-25</td>,
 <td class="first txt_number">2021-01-22</td>,
 <td class="first txt_number">2021-01-13</td>,
 <td class="first txt_number">2021-01-12</td>,
 <td class="first txt_number">2021-01-12</td>,
 <td class="first txt_number">2021-01-12</td>,
 <td class="first txt_number">2021-01-11</td>,
 <td class="first txt_number">2021-01-11</td>]